:root {
  --main-bg-color: #333;
  --main-color: #E7FE55;
  --main-icon-size: 18px;
  accent-color: #E7FE55;
}


.container {
    width: 50%;
    position:absolute;
    top: 25%;
    left: 25%;
    background-color: var(--main-bg-color);
    border-radius: 18px;
    text-align: center;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding : 0 20px
}

.options {
    display: flex;
}

.menu{
    display: none;
    margin: 20px 10px;
}

.export-btn {
    margin: 10px 20px;
}

.todo-item{
    display: flex;
    justify-content: start;
    padding: 12px;
    margin: 0 15%;
    text-align: start;
}

.fav-icon {
    color: var(--main-color);

}

.del-icon {
    color: brown;
}

.icon {
    margin-right: 12px;
    width: var(--main-icon-size);
    height: var(--main-icon-size);
    
}

.icon:hover {
    cursor: pointer;
}

.todoTitle{
    width: 100%;
     flex: 1;
  min-width: 0;
  word-break: break-word;
}

.ellipsed {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskInput {
    height: 25px;
    width: 50%;
    border-radius: 20px;
    padding: 12px;
    margin: 20px;
    border: 1px #333 solid;
    background-color: #414141;
}

.taskInput:focus {
  outline: 2px solid var(--main-color); 
}

.addBtn {
    /* height: 30px; */
    border-radius: 20px;
    background-color: var(--main-color);
    color: black;
}

.done{
    text-decoration-line: line-through;
    opacity: 0.6;
}

.app-footer {
    width: 100%;
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  padding-top: 16px;
  font-size: 0.85rem;
  color: #777;
  text-align: center;
}

.option-dialog{
    width: 100%;
    border-radius: 18px;
    text-align: center;
    /* position: absolute;
    top: 50px; */
}

@media (max-width : 1200px) {
    .container{
        width: 65%;
        left:17.5%;
    }
}

@media (max-width : 750px) {
    .container{
        width: 95%;
        left:2.5%;
        top: 2.5%
    }
    .todo-item {
        margin: 0;
    }
    .taskInput{
        margin: 12px 10px
    }
}

@media (max-width : 470px) {
    .options {
        display: none;
    }
    .menu {
        display: block;
    }
}


